body {
    background: #FFFAFD;
    font-size:100%;
    line-height:1.5;
    font: message-box;
}

header {
    width:100%;
    margin: auto;
    text-align:center;
}

section {
    max-width:87.5em;
    margin:auto;
    padding:0 1em;
}

.cols {
    -moz-column-width: 25em;
    -webkit-column-width: 25em;
    column-width: 25em;

    -moz-column-gap: 5em;
    -webkit-column-gap: 5em;
    column-gap: 5em;
}

h1, h2{
    font: small-caption;
    color: #27272E;
}

h1 span {
    font: caption;
    font-style:italic;
}

h1 {
    font-size: 2.747em;
    margin: 0;
    line-height:1.1;
    text-transform: uppercase;
}

h1 span:nth-of-type(1) {
    font-size:0.63em;
    display:block;
    margin: 1em auto 0 auto;
    text-transform: none;
}

h2 {
    text-transform: uppercase;
    border-top: 1px solid darkgrey;
    font-size: .874em;
    text-align: center;
    line-height:1;
    margin-top:1.953em;
}

h2 span {
    background:#FFFAFD;
    position:relative;
    top:-.45em;
    padding: 0 5%;
    margin-top:-1em;
}

h3 {
    font-style: italic;
    font-weight:700;
    font-size:1.229em;
    margin:1em 0 .25em 0;
}

p {
    margin-bottom: 1em;
}

a {
    color: red;
}

@media screen and (max-width: 25em) {
    body {
        font-size: 90%;
    }
}
